:root {
  /* Thanks Tailwind for the colors
   * https://tailwindcss.com/docs/colors
   */
  --blue-200: oklch(93.2% 0.032 255.585);
  --blue-900: oklch(37.9% 0.146 265.522);
  --blue-950: oklch(28.2% 0.091 267.935);
  --gray-100: oklch(96.7% 0.003 264.542);
  --gray-700: oklch(37.3% 0.034 259.733);
  --gray-900: oklch(21% 0.034 264.665);

  --nav-width: 20rem;
  --nav-shadow-width: 10px;
}

html { height: 100%; }
body {
  margin: 0;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

h2 { margin: 0; }
h3 { border-bottom: 1px solid var(--gray-100); }
p { margin: 0 0 0.75rem; }

main {
  flex-grow: 1;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0px 7px 10px var(--blue-950);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;

  transition: transform .2s ease-in-out;
  transform: translateX(calc(-1 *  var(--nav-width) + -1 * var(--nav-shadow-width)));
}

nav.open {
  transform: translateX(0);
}

#navContent {
  box-sizing: border-box;
  width: var(--nav-width);
  height: 90svh;
  margin-top: 1rem;
  color: var(--gray-100);
  background-color: var(--gray-700);
  border-radius: 0 0.75rem 0.75rem 0;
  box-shadow: 4px 7px 10px var(--gray-900);

  display: flex;
  flex-direction: column;
}

#navContent h3 { padding: 0 1em; }
#navContent #navLinks { padding: 0 1.5em; }

#navLinks {
  flex-grow: 1;
  padding: 0 .5rem;
}


#navToggle {
  margin-left: 10px;
  padding: 1rem;
  font-size: xx-large;
  transition: transform .2s ease-in-out;
}

nav.open #navToggle {
  transform: translateX(calc(-1 * var(--nav-shadow-width)));
}

nav a {
  display: block;
  margin: 0 0 0.25rem 0;
}

nav .footer {
  align-self: center;
}

nav .footer a {
  color: var(--gray-100);
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: -0.75rem;
  padding: 1.5rem 2rem 0;
  color: var(--blue-200);
  font-size: 0.8rem;
  background-color: var(--blue-900);
  border-radius: 0 0 0.4rem 0.4rem;
}

footer a {
  color: var(--blue-200);
  text-decoration: underline;
}

.visitedMarker {
  filter: grayscale(0.8);
}

.highlightMarker {
  filter: hue-rotate(240deg);
}
