html { height: 100%; }
body {
  margin: 0;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

h2 { margin: 0; }
p { margin: 0 0 1rem; }

main { flex-grow: 1; }
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0;
  color: oklch(93.2% 0.032 255.585);
  background-color: oklch(28.2% 0.091 267.935);
  font-size: 0.8rem;
}


footer a {
  color: oklch(93.2% 0.032 255.585);
  text-decoration: underline;
}

.visitedMarker {
  filter: grayscale(0.8);
}

.highlightMarker {
  filter: hue-rotate(240deg);
}
